<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.cswagner.guess">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat">

        <activity android:name="io.cswagner.guess.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="io.cswagner.guess.HistoryActivity"
            android:parentActivityName="io.cswagner.guess.MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.cswagner.guess.MainActivity" />
        </activity>
    </application>
</manifest>
